.mailtoui-modal {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    bottom: 0;
    color: #303131;
    display: none;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.mailtoui-modal-content {
    animation: appear 0.4s;
    background-color: #F1F5F8;
    border-radius: 8px;
    bottom: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    left: 50%;
    max-height: calc(100% - 100px);
    overflow: auto;
    padding: 0;
    position: fixed;
    right: -45%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mailtoui-modal-content:hover,
.mailtoui-modal-content:focus {
    overflow-y: auto;
}

/* Small devices, tablets */
@media only screen and (min-width : 768px) {
    .mailtoui-modal-content {
        right: auto;
    }
}

.mailtoui-modal-head {
    align-items: center;
    background-color: #fff;
    clear: both;
    display: flex;
    min-width: 0;
    padding: 10px 20px;
}

.mailtoui-modal-title {
    flex: 1;
    font-size: 120%;
    font-weight: bold;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mailtoui-modal-close {
    color: #aaa;
    flex: initial;
    font-size: 38px;
    margin-left: 20px;
    position: relative;
    text-align: right;
    text-decoration: none;
    top: -4px;
}

.mailtoui-modal-close:hover,
.mailtoui-modal-close:focus {
    color: #000;
    cursor: pointer;
    font-weight: bold;
    outline: none;
}

.mailtoui-modal-body {
    height: 100%;
    padding: 20px;
}

.mailtoui-button {
    color: #333;
    text-decoration: none;
}

.mailtoui-button:focus {
    outline: none;
}

.mailtoui-button:focus .mailtoui-button-content {
    background-color: #555;
    color: #fff;
}

.mailtoui-button-content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.18);
    margin-bottom: 20px;
    overflow: hidden;
    padding: 15px 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mailtoui-button-content:hover {
    background-color: #555;
    color: #fff;
}

.mailtoui-button:last-child .mailtoui-button-content {
    margin-bottom: 0;
}

.mailtoui-button-icon {
    font-weight: bold;
    position: relative;
    top: 4px;
}

.mailtoui-button-icon svg {
    height: 24px;
    width: 24px;
}

.mailtoui-button-text {
    margin-left: 5px;
    position: relative;
    top: -2px;
}

.mailtoui-copy {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.18);
    height: 59px;
    margin-top: 20px;
    position: relative;
}

.mailtoui-button-copy {
    background-color: #fff;
    border: none;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    bottom: 21px;
    color: #303131;
    font-size: 100%;
    height: 100%;
    left: 0;
    overflow: hidden;
    padding: 15px 20px;
    position: absolute;
    text-overflow: ellipsis;
    top: 0;
    white-space: nowrap;
    width: 120px;
}

.mailtoui-button-copy:hover,
.mailtoui-button-copy:focus {
    background-color: #555;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.mailtoui-button-copy-clicked,
.mailtoui-button-copy-clicked:hover,
.mailtoui-button-copy-clicked:focus {
    background-color: #1F9D55;
    color: #fff;
}

.mailtoui-button-copy-clicked .mailtoui-button-icon,
.mailtoui-button-copy-clicked:hover .mailtoui-button-icon,
.mailtoui-button-copy-clicked:focus .mailtoui-button-icon {
    display: none;
    visibility: hidden;
}

.mailtoui-button-copy-clicked .mailtoui-button-text,
.mailtoui-button-copy-clicked:hover .mailtoui-button-text,
.mailtoui-button-copy-clicked:focus .mailtoui-button-text {
    color: #fff;
    top: 2px;
}

.mailtoui-email-address {
    background-color: #d8dcdf;
    border: none;
    border-radius: 8px;
    box-sizing : border-box;
    color: #48494a;
    font-size: 100%;
    height: 100%;
    overflow: hidden;
    padding: 20px 20px 20px 140px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.mailtoui-brand {
    color: #888;
    font-size: 80%;
    margin-top: 20px;
    text-align: center;
}

.mailtoui-brand a {
    color: #888;
}

.mailtoui-brand a:hover,
.mailtoui-brand a:focus {
    font-weight: bold;
    outline: none;
}

.mailtoui-no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.mailtoui-is-hidden {
    display: none;
    visibility: hidden;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0,0);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1,1);
    }
}
