/* Dark Theme: Sample CSS to overrie the look of MailtoUI */

.mailtoui-modal {
    background-color: #cbd5e0;
    background-color: rgba(250, 250, 250, 0.5);
    color: #fff;
}

.mailtoui-modal-head {
    background-color: #21262c;
}

.mailtoui-modal-title {
    color: #fff;
}

.mailtoui-modal-close:focus,
.mailtoui-modal-close:hover {
    color: #fff;
}

.mailtoui-modal-body {
    background-color: #373b41;
}

.mailtoui-button:focus .mailtoui-button-content {
    background-color: #d8dcdf;
    color: #333;
}

.mailtoui-button-content,
.mailtoui-button-copy {
    background-color: #63676b;
    color: #fff;
}

.mailtoui-button-content:hover,
.mailtoui-button-content:focus,
.mailtoui-button-copy:hover,
.mailtoui-button-copy:focus {
    background-color: #d8dcdf;
    color: #333;
}

.mailtoui-button-copy-clicked,
.mailtoui-button-copy-clicked:hover,
.mailtoui-button-copy-clicked:focus {
    background-color: #1f9d55;
    color: #fff;
}

.mailtoui-email-address {
    background-color: #909295;
    color: #21262c;
}
