$animation-speed: 0.4s; //0.4s
$overlay-bg-color: rgba(0, 0, 0, 0.4); //rgba(0, 0, 0, 0.4)
$radius: 8px; //8px
$success-bg-color: #1f9d55; //#1f9d55
$success-color: #fff; //#fff

$modal-border-radius: $radius; //$radius
$modal-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); //0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

$modal-head-bg-color: #fff; //#fff
$modal-head-padding-x: 20px; //20px
$modal-head-padding-y: 10px; //10px

$modal-title-color: #303131; //#303131
$modal-title-font-family: sans-serif; //sans-serif
$modal-title-font-size: 120%; //120%
$modal-title-font-weight: 700; //700

$modal-close-color-1: #aaa; //#aaa
$modal-close-color-2: #000; //#000
$modal-close-font-size: 38px; //38px
$modal-close-top: -4px; //-4px

$modal-content-bg-color: #f1f5f8; //#f1f5f8
$modal-body-padding: 20px; //20px

$button-bg-color: #fff; //#fff
$button-border-radius: $radius; //$radius
$button-border: none; //none
$button-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18); //0 2px 4px rgba(0, 0, 0, 0.18)
$button-color: #333; //#333
$button-margin-bottom: 20px; //20px
$button-hover-bg-color: #555; //#555
$button-hover-color: #fff; //#fff
$button-padding-x: 20px; //20px
$button-padding-y: 15px; //15px

$button-icon-height: 24px; //24px
$button-icon-top: 4px; //4px
$button-icon-width: 24px; //24px

$button-copy-border: $button-border; //$button-border

$email-bg-color: #d8dcdf; //#d8dcdf
$email-box-shadow: unset; //unset
$email-color: #48494a; //#48494a
$email-margin-top: 20px; //20px

$brand-color: #888; //#888
$brand-font-size: 80%; //80%

.mailtoui-modal {
    background-color: #000;
    background-color: $overlay-bg-color;
    bottom: 0;
    color: #303131;
    display: none;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.mailtoui-modal-content {
    animation: mailtoui-appear $animation-speed;
    background-color: $modal-content-bg-color;
    border-radius: $modal-border-radius;
    bottom: auto;
    box-shadow: $modal-box-shadow;
    left: 50%;
    max-height: calc(100% - 100px);
    overflow: auto;
    padding: 0;
    position: fixed;
    right: -45%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mailtoui-modal-content:focus,
.mailtoui-modal-content:hover {
    overflow-y: auto;
}

@media only screen and (min-width: 768px) {
    .mailtoui-modal-content {
        right: auto;
    }
}

.mailtoui-modal-head {
    align-items: center;
    background-color: $modal-head-bg-color;
    clear: both;
    display: flex;
    min-width: 0;
    padding: $modal-head-padding-y $modal-head-padding-x;
}

.mailtoui-modal-title {
    color: $modal-title-color;
    flex: 1;
    font-family: $modal-title-font-family;
    font-size: $modal-title-font-size;
    font-weight: $modal-title-font-weight;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mailtoui-modal-close {
    color: $modal-close-color-1;
    flex: initial;
    font-size: $modal-close-font-size;
    margin-left: 20px;
    position: relative;
    text-align: right;
    text-decoration: none;
    top: $modal-close-top;
}

.mailtoui-modal-close:focus,
.mailtoui-modal-close:hover {
    color: $modal-close-color-2;
    cursor: pointer;
    font-weight: 700;
    outline: 0;
}

.mailtoui-modal-body {
    height: 100%;
    padding: $modal-body-padding;
}

.mailtoui-button {
    color: $button-color;
    text-decoration: none;
}

.mailtoui-button:focus {
    outline: 0;
}

.mailtoui-button:focus .mailtoui-button-content {
    background-color: #555;
    color: #fff;
}

.mailtoui-button-content {
    background-color: $button-bg-color;
    border: $button-border;
    border-radius: $button-border-radius;
    box-shadow: $button-box-shadow;
    margin-bottom: $button-margin-bottom;
    overflow: hidden;
    padding: $button-padding-y $button-padding-x;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mailtoui-button-content:hover {
    background-color: $button-hover-bg-color;
    color: $button-hover-color;
}

.mailtoui-button:last-child .mailtoui-button-content {
    margin-bottom: 0;
}

.mailtoui-button-icon {
    display: inline-block;
    font-weight: 700;
    position: relative;
    top: $button-icon-top;
}

.mailtoui-button-icon svg {
    height: $button-icon-height;
    width: $button-icon-width;
}

.mailtoui-button-text {
    display: inline-block;
    margin-left: 5px;
    position: relative;
    top: -2px;
}

.mailtoui-copy {
    border-radius: $button-border-radius;
    box-shadow: $button-box-shadow;
    height: 59px;
    margin-top: $email-margin-top;
    position: relative;
}

.mailtoui-button-copy {
    background-color: $button-bg-color;
    border: $button-copy-border;
    border-bottom-left-radius: $button-border-radius;
    border-top-left-radius: $button-border-radius;
    bottom: 21px;
    color: $button-color;
    font-size: 100%;
    height: 100%;
    left: 0;
    overflow: hidden;
    padding: 15px 20px;
    position: absolute;
    text-overflow: ellipsis;
    top: 0;
    white-space: nowrap;
    width: 120px;
}

.mailtoui-button-copy:focus,
.mailtoui-button-copy:hover {
    background-color: $button-hover-bg-color;
    color: $button-hover-color;
    cursor: pointer;
    outline: 0;
}

.mailtoui-button-copy-clicked,
.mailtoui-button-copy-clicked:focus,
.mailtoui-button-copy-clicked:hover {
    background-color: $success-bg-color;
    color: $success-color;
}

.mailtoui-button-copy-clicked .mailtoui-button-icon,
.mailtoui-button-copy-clicked:focus .mailtoui-button-icon,
.mailtoui-button-copy-clicked:hover .mailtoui-button-icon {
    display: none;
    visibility: hidden;
}

.mailtoui-button-copy-clicked .mailtoui-button-text,
.mailtoui-button-copy-clicked:focus .mailtoui-button-text,
.mailtoui-button-copy-clicked:hover .mailtoui-button-text {
    color: #fff;
    top: 2px;
}

.mailtoui-email-address {
    background-color: $email-bg-color;
    border: none;
    border-radius: $button-border-radius;
    box-shadow: $email-box-shadow;
    box-sizing: border-box;
    color: $email-color;
    font-size: 100%;
    height: 100%;
    overflow: hidden;
    padding: 20px 20px 20px 140px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.mailtoui-brand {
    color: $brand-color;
    font-size: $brand-font-size;
    margin-top: 20px;
    text-align: center;
}

.mailtoui-brand a {
    color: $brand-color;
}

.mailtoui-brand a:focus,
.mailtoui-brand a:hover {
    font-weight: 700;
    outline: 0;
}

.mailtoui-no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.mailtoui-is-hidden {
    display: none;
    visibility: hidden;
}

@keyframes mailtoui-appear {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0, 0);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1, 1);
    }
}
